@import url('/admin/admin-variables.less');
@import url('/admin/admin-mixins.less');
@import url('/admin/admin-editor.less');
@import url('/admin/admin-menu.less');
@import url('/admin/admin-main.less');

@import url('/admin/admin-smaller-ui.less');
@import url('/admin/admin-woocommerce.less');
@import url('/admin/admin-redux.less');
@import url('/admin/admin-adminbar.less');
@import url('/admin/admin-headway.less');
@import url('/admin/admin-list-tables.less');

// DMS CodeMirror
.CodeMirror {
    border: 1px solid #eee;
    height: auto;
    overflow-x: auto;
    overflow-y: hidden;
    height: 600px !important;

}

.CodeMirror-scroll {
    height: auto;
    min-height: 400px !important;
    overflow: visible;
}

// Admin Collumns Plugin - CAC extension
.cac_photo_count {
    font-size: 10px;
    line-height: 14px;
    position: absolute;
    bottom: 10px;
    left: 6px;
    background: @red;
    color: #fff;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    width: 14px;
    height: 14px;
    text-align: center;
}
