
// e(str) — returns a string without the surrounding quotes. See String Unquoting
// floor(number) — returns the floor of a numerical input
// round(number) — returns the rounded value of numerical input
// lighten(color, percent) — lightens color by percent and returns it
// darken(color, percent) — darkens color by percent and returns it
// saturate(color, percent) — saturates color by percent and returns it
// desaturate(color, percent) — desaturates color by percent and returns it
// fadein(color, percent) — makes color less transparent by percent and returns it
// fadeout(color, percent) — makes color more transparent by percent and returns it
// spin(color, amount) — returns a color with amount degrees added to hue
// fade(color, amount) — returns a color with the alpha set to amount
// hue(color) — returns the hue of color
// saturation(color) — returns the saturation of color
// lightness(color) — returns the lightness of color
// alpha(color) — returns the alpha value of color or 1.0 if it doesn’t have an alpha
// percentage(number) — converts a floating point number to a percentage, e.g. 0.65 –> 65%
// mix(color1, color1, percent) — mixes two colors by percentage where 100% keeps all of color1, and 0% keeps all of color2. Will take into account the alpha of the colors if it exists.
// constrast(color, dark, light) — if color has a lightness value greater than 50% then dark is returned, otherwise return light.
// rgbahex(color) — returns a string containing 4 part hex color.
// This is used to convert a CSS color into the hex format that IE’s filter method expects when working with an alpha component.
// http://leafo.net/lessphp/

//
//          definovanie element class alebo ID
//          #@{opt-hw-fullwidth-wrapper}
//

// pouzitie v teme
// @import url('@{themeurl}/less/ss-gizmo.css');
// @import url('@{stylesheet_directory_uri}/less/gridlist/mixins.less');
//


// Border box reset
// *,*:before,*:after {
//     -webkit-box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     box-sizing: border-box
// }


// Available variables
// @plugin_dir
// @stylesheet_directory_uri
// @template_directory_uri


.rgba(@colour, @rgba) {
    // @alphaColour: hsla(hue(@colour), saturation(@colour), lightness(@colour), @alpha);
    // @ieAlphaColour: argb(@alphaColour);
    background-color: @colour; // Fallback for older browsers
    // // IE hacks
    // zoom: 1; // hasLayout
    // background-color: transparent\9;
    // -ms-filter:  "progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 8+
    //    filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorstr=@{ieAlphaColour}, endColorstr=@{ieAlphaColour})"; // IE 6 & 7
    background-color: @rgba;
}

// Normalize sub, sup
sub,
sup {
  font-size: 75% !important;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

@import url('mixins.less');
@import url('variables.less');

@import url('/plugins/scrollup-header.less');
@import url('/plugins/social-share.less');
@import url('/plugins/shiftnav.less');
@import url('/plugins/sidebar-login.less');


// @import url('bootstrap-12-grid.less');

// Arrow Icons
.add-arrow-icons() when (@add-arrow-icons = 1) {
    @import url('/icons/arrows.less');
}
.add-arrow-icons();

// Feather Icons
.add-feather-icons() when (@add-feather-icons = 1) {
    @import url('/icons/feather-icons/feather-icons.less');
}
.add-feather-icons();


// Podmieneny import LESS na zaklade premennej z redux options
    // @add-fix-headway: 1;
    // @add-buttons: 1;
    // @add-wrappers: 1;
    // @add-plugins: 1;
    // @add-labels-badges: 1;
    // @add-ss-gizmo: 1;
    // @add-animations: 1;
    // @add-alert-higlight: 1;
    // @add-woocommerce: 1;
    // @add-buttons: 1;


// Default
// .add-default-options() when (@options = 1) {
//     @import url('options.less');
// }
// .add-default-options();

// Labels / Badges
.add-labels-badges() when (@add-labels-badges = 1) {
    @import url('/elements/labels-badges.less');
}
.add-labels-badges();

// Alert / Higlight
.add-alert-higlight() when (@add-alert-higlight = 1) {
    @import url('/elements/alert-higlight.less');
}
.add-alert-higlight();

// Buttons
.add-buttons() when (@add-buttons = 1) {
	@import url('/elements/buttons.less');
}
.add-buttons();

// Wrappers
.add-wrappers() when (@add-wrappers = 1) {
	@import url('/elements/wrappers.less');
}
.add-wrappers();


// // Sticky Menu
// .add-sticky-menu() when (@add-sticky-menu = 1) {
//     @import url('/plugins/sticky-menu.less');
// }
// .add-sticky-menu();


// Typography
// .add-typography() when (@add-typography = 1) {
//     @import url('typography.less');
// }
//.add-typography();


// Plugins
.add-plugins() when (@add-plugins = 1) {
    @import url('/plugins/plugins.less');
}
.add-plugins();

// Wp Pagenavi
.add-wp-pagenavi() when (@add-wp-pagenavi = 1) {
    @import url('/plugins/wp-pagenavi.less');
}
.add-wp-pagenavi();

// Scroll Back to Top
.add-scroll-back() when (@add-scroll-back = 1) {
    @import url('/plugins/scroll-back-to-top.less');
}
.add-scroll-back();


// Scroll Back to Top
.add-responsive-tabs() when (@add-responsive-tabs = 1) {
    @import url('/plugins/responsive-tabs.less');
}
.add-responsive-tabs();






// Fixed Sidebar
.add-fixed-sidebar() when (@add-fixed-sidebar = 1) {
    @import url('/plugins/fixed-sidebar.less');
}
.add-fixed-sidebar();

// Woocommerce
.add-woocommerce() when (@add-woocommerce = 1) {
    @import url('/plugins/woocommerce.less');
}
.add-woocommerce();

// Colorbox
.add-colorbox() when (@add-colorbox = 1) {
    @import url('/plugins/colorbox.less');
}
.add-colorbox();

// Animations
.add-animations() when (@add-animations = 1) {
    @import url('animations.less');
}
.add-animations();

// Icons - SS Gizmo
.add-ss-gizmo() when (@add-ss-gizmo = 1) {
    @import url('/icons/ss-gizmo.less');
}
.add-ss-gizmo();

// Grids

// Webflow Grid
.add-webflow-grid() when (@add-webflow-grid = 1) {
    @import url('/grids/webflow-grid.less');
}
.add-webflow-grid();

// Fix stickUp.min.js Header
.isStuck {
    right: 0;
    left: 0;
    width: 100%;
    /*  max-width: 100%;*/
    margin-left: auto;
    margin-right: auto;
}


// HEADWAY

// Full Width Wrapper
.opt-hw-fullwidth-wrapper() when (@opt-hw-fullwidth-wrapper = 1) {

    // Fix fullwidth content
    #@{opt-hw-fullwidth-wrapper-id} div.grid-container{
        width: auto !important;
        max-width: 100% !important;
    }

}
.opt-hw-fullwidth-wrapper();

// Fix Headway
.add-fix-headway() when (@add-fix-headway = 1) {
    @import url('/headway/fix-headway.less');
}
.add-fix-headway();

.disable-min-height() when (@disable-min-height = 1) {
    @import url('/headway/min-height.less');
}
.disable-min-height();

.woocommerce ul.products li.product,
.woocommerce-page ul.products li.product {
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

// * {
//     -webkit-box-sizing: border-box !important;
//     box-sizing: border-box !important;
// }

// Fix pagelines DMS options
.panel-section-options,
.tabbed-set,
.ui-tabs,
.ui-widget,
.ui-widget-content,
.ui-corner-all,
.current-panel,
.tabs-wrap,
.tabs-nav {
    -webkit-box-sizing: padding-box !important;
    box-sizing: padding-box !important;
    -moz-box-sizing: padding-box !important;
}


// Edit Post link
a.post-edit-link-arc,
a.delete-post,
.post-edit-link {
    background: #000;
    color: #fff;
    font-family: Consolas, monaco, monospace;
    font-size: xx-small;
    padding: 2px 4px;
  //  position: absolute;
    right: 0;
    top: 0;
    z-index: 14;
    &:hover{
      background-color: rgb(65, 65, 65);
      color: #fff;
    }
}
