// DEFAULT OPT
// po nastaveni redux pojde do zlvast
@include: "colors.less";

@opt-font-size: 18px;

@opt-font-weight-regular: 	 400;
@opt-font-weight-bold: 		 700;
@opt-font-weight-black: 	 900;

// Typography
@font-size-base:			@opt-font-size;
@font-line-height-base:		@opt-font-size * 1.55;
@font-line-height-prop:		1.5em;

// Font Weight
@font-weight-regular: 	@opt-font-weight-regular;
@font-weight-bold: 		@opt-font-weight-bold;
@font-weight-black: 	@opt-font-weight-black;

// Font Family
@font-default:        	"Open Sans", "Helvetica Neue", "Helvetica", Arial, serif;
@font-code:        		  Menlo, Monaco, "Courier New", monospace;

// Font sizing
// Based on XXpx font-size and XXpx line-height
@font-size-large:		@font-size-base * 1.25; // ~18px
@font-size-small:		@font-size-base * 0.85; // ~12px
@font-size-mini:		@font-size-base * 0.75; // ~11px

@h1-size:          		@font-size-base * 2.8;
@h2-size:          		@font-size-base * 2.4;
@h3-size:          		@font-size-base * 1.8;
@h4-size:          		@font-size-base * 1.4;
@h5-size:          		@font-size-base * 1.1;
@h6-size:          		@font-size-base;
