@import multiple '../../theme.config';
.ui.divider {
  margin: ;
  line-height: 1;
  height: 0em;
  font-weight: ;
  text-transform: ;
  letter-spacing: ;
  color: ;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.ui.divider:not(.vertical):not(.horizontal) {
  border-top:  solid ;
  border-bottom:  solid ;
}
.ui.grid > .column + .divider,
.ui.grid > .row > .column + .divider {
  left: auto;
}
.ui.horizontal.divider {
  display: table;
  white-space: nowrap;
  height: auto;
  margin: ;
  overflow: hidden;
  line-height: 1;
  text-align: center;
}
.ui.horizontal.divider:before,
.ui.horizontal.divider:after {
  content: '';
  display: table-cell;
  position: relative;
  top: 50%;
  width: 50%;
  background-repeat: no-repeat;
}
.ui.horizontal.divider:before {
  background-position: right  top 50%;
}
.ui.horizontal.divider:after {
  background-position: left  top 50%;
}
.ui.vertical.divider {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  margin: 0rem;
  padding: 0em;
  width: auto;
  height: 50%;
  line-height: 0em;
  text-align: center;
  transform: translateX(-50%);
}
.ui.vertical.divider:before,
.ui.vertical.divider:after {
  position: absolute;
  left: 50%;
  content: '';
  z-index: 3;
  border-left:  solid ;
  border-right:  solid ;
  width: 0%;
  height: ;
}
.ui.vertical.divider:before {
  top: -100%;
}
.ui.vertical.divider:after {
  top: auto;
  bottom: 0px;
}
@media only screen and (max-width: ) {
  .ui.stackable.grid .ui.vertical.divider,
  .ui.grid .stackable.row .ui.vertical.divider {
    display: table;
    white-space: nowrap;
    height: auto;
    margin: ;
    overflow: hidden;
    line-height: 1;
    text-align: center;
    position: static;
    top: 0;
    left: 0;
    transform: none;
  }
  .ui.stackable.grid .ui.vertical.divider:before,
  .ui.grid .stackable.row .ui.vertical.divider:before,
  .ui.stackable.grid .ui.vertical.divider:after,
  .ui.grid .stackable.row .ui.vertical.divider:after {
    position: static;
    left: 0;
    border-left: none;
    border-right: none;
    content: '';
    display: table-cell;
    position: relative;
    top: 50%;
    width: 50%;
    background-repeat: no-repeat;
  }
  .ui.stackable.grid .ui.vertical.divider:before,
  .ui.grid .stackable.row .ui.vertical.divider:before {
    background-position: right  top 50%;
  }
  .ui.stackable.grid .ui.vertical.divider:after,
  .ui.grid .stackable.row .ui.vertical.divider:after {
    background-position: left  top 50%;
  }
}
.ui.divider > .icon {
  margin: ;
  font-size: ;
  height: 1em;
  vertical-align: middle;
}
.ui.hidden.divider {
  border-color: transparent !important;
}
.ui.hidden.divider:before,
.ui.hidden.divider:after {
  display: none;
}
.ui.divider.inverted,
.ui.vertical.inverted.divider,
.ui.horizontal.inverted.divider {
  color: ;
}
.ui.divider.inverted,
.ui.divider.inverted:after,
.ui.divider.inverted:before {
  border-top-color:  !important;
  border-left-color:  !important;
  border-bottom-color:  !important;
  border-right-color:  !important;
}
.ui.fitted.divider {
  margin: 0em;
}
.ui.clearing.divider {
  clear: both;
}
.ui.section.divider {
  margin-top: ;
  margin-bottom: ;
}
.ui.divider {
  font-size: ;
}
