@import multiple '../../theme.config';
.ui.loader {
  display: none;
  position: absolute;
  top: ;
  left: ;
  margin: 0px;
  text-align: center;
  z-index: 1000;
  transform: translateX(-50%) translateY(-50%);
}
.ui.loader:before {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: ;
  border:  solid ;
}
.ui.loader:after {
  position: absolute;
  content: '';
  top: 0%;
  left: 50%;
  width: 100%;
  height: 100%;
  animation: loader  linear;
  animation-iteration-count: infinite;
  border-radius: ;
  border-color: ;
  border-style: solid;
  border-width: ;
  box-shadow: 0px 0px 0px 1px transparent;
}
@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.ui.loader:before,
.ui.loader:after {
  width: ;
  height: ;
  margin: ;
}
.ui.mini.loader:before,
.ui.mini.loader:after {
  width: ;
  height: ;
  margin: ;
}
.ui.small.loader:before,
.ui.small.loader:after {
  width: ;
  height: ;
  margin: ;
}
.ui.large.loader:before,
.ui.large.loader:after {
  width: ;
  height: ;
  margin: ;
}
.ui.dimmer .loader {
  display: block;
}
.ui.dimmer .ui.loader {
  color: ;
}
.ui.dimmer .ui.loader:before {
  border-color: ;
}
.ui.dimmer .ui.loader:after {
  border-color: ;
}
.ui.inverted.dimmer .ui.loader {
  color: ;
}
.ui.inverted.dimmer .ui.loader:before {
  border-color: ;
}
.ui.inverted.dimmer .ui.loader:after {
  border-color: ;
}
.ui.text.loader {
  width: auto !important;
  height: auto !important;
  text-align: center;
  font-style: normal;
}
.ui.indeterminate.loader:after {
  animation-direction: ;
  animation-duration: ;
}
.ui.loader.active,
.ui.loader.visible {
  display: block;
}
.ui.loader.disabled,
.ui.loader.hidden {
  display: none;
}
.ui.inverted.dimmer .ui.mini.loader,
.ui.mini.loader {
  width: ;
  height: ;
  font-size: ;
}
.ui.inverted.dimmer .ui.small.loader,
.ui.small.loader {
  width: ;
  height: ;
  font-size: ;
}
.ui.inverted.dimmer .ui.loader,
.ui.loader {
  width: ;
  height: ;
  font-size: ;
}
.ui.inverted.dimmer .ui.loader.large,
.ui.loader.large {
  width: ;
  height: ;
  font-size: ;
}
.ui.mini.text.loader {
  min-width: ;
  padding-top: ;
}
.ui.small.text.loader {
  min-width: ;
  padding-top: ;
}
.ui.text.loader {
  min-width: ;
  padding-top: ;
}
.ui.large.text.loader {
  min-width: ;
  padding-top: ;
}
.ui.inverted.loader {
  color: ;
}
.ui.inverted.loader:before {
  border-color: ;
}
.ui.inverted.loader:after {
  border-top-color: ;
}
.ui.inline.loader {
  position: relative;
  vertical-align: ;
  margin: ;
  left: 0em;
  top: 0em;
  transform: none;
}
.ui.inline.loader.active,
.ui.inline.loader.visible {
  display: inline-block;
}
.ui.centered.inline.loader.active,
.ui.centered.inline.loader.visible {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
