@import multiple '../../theme.config';
.ui.rail {
  position: absolute;
  top: 0%;
  width: ;
  height: ;
}
.ui.left.rail {
  left: auto;
  right: 100%;
  padding: 0em  0em 0em;
  margin: 0em  0em 0em;
}
.ui.right.rail {
  left: 100%;
  right: auto;
  padding: 0em 0em 0em ;
  margin: 0em 0em 0em ;
}
.ui.left.internal.rail {
  left: 0%;
  right: auto;
  padding: 0em 0em 0em ;
  margin: 0em 0em 0em ;
}
.ui.right.internal.rail {
  left: auto;
  right: 0%;
  padding: 0em  0em 0em;
  margin: 0em  0em 0em;
}
.ui.dividing.rail {
  width: ;
}
.ui.left.dividing.rail {
  padding: 0em  0em 0em;
  margin: 0em  0em 0em;
  border-right: ;
}
.ui.right.dividing.rail {
  border-left: ;
  padding: 0em 0em 0em ;
  margin: 0em 0em 0em ;
}
.ui.close.rail {
  width: ;
}
.ui.close.left.rail {
  padding: 0em  0em 0em;
  margin: 0em  0em 0em;
}
.ui.close.right.rail {
  padding: 0em 0em 0em ;
  margin: 0em 0em 0em ;
}
.ui.very.close.rail {
  width: ;
}
.ui.very.close.left.rail {
  padding: 0em  0em 0em;
  margin: 0em  0em 0em;
}
.ui.very.close.right.rail {
  padding: 0em 0em 0em ;
  margin: 0em 0em 0em ;
}
.ui.attached.left.rail,
.ui.attached.right.rail {
  padding: 0em;
  margin: 0em;
}
.ui.rail {
  font-size: ;
}
