a.post-edit-link-arc,
a.delete-post,
.post-edit-link {
    background: #000;
    color: #fff;
    font-family: Consolas, monaco, monospace;
    font-size: xx-small;
    padding: 2px 4px;
  //  position: absolute;
    right: 0;
    top: 0;
    z-index: 14;
    &:hover{
      background-color: rgb(65, 65, 65);
      color: #fff;
    }
}
