
/* @group Redux */
#redux-header, .rAds{
	display: none !important;
}

.admin-color-fresh .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a,
.wp-customizer .redux-sidebar .redux-group-menu li.activeChild.hasSubSections ul.subsection li.active a {
    text-shadow:none;
}

.redux-sidebar .redux-group-menu li.active a,
.redux-sidebar .redux-group-menu li.activeChild a {
    color: #41414a;
}

// Switch buttons


.admin-color-fresh .redux-container-switch .cb-enable {
    background: #99e3c9 !important;
    color: #fff;
    text-decoration: none !important;
		border-style: none !important;
		box-shadow: none !important;
		-webkit-box-shadow: none !important;
}

.admin-color-fresh .redux-container-switch .cb-enable.selected,
.admin-color-fresh .redux-field-container .ui-buttonset .ui-state-active,
.wp-customizer .redux-container-switch .cb-enable.selected,
.wp-customizer .redux-field-container .ui-buttonset .ui-state-active{
background: #22bc81 !important;
border-style: none !important;
box-shadow: none !important;
-webkit-box-shadow: none !important;
}

.admin-color-fresh .redux-container-switch .cb-enable:hover,
.wp-customizer .redux-container-switch .cb-enable.selected:hover {
    background: #04a279 !important;
}

/** Disable Normal **/

.admin-color-fresh .redux-container-switch .cb-disable
// .admin-color-fresh .redux-container .ui-state-default,
// .admin-color-fresh .redux-container .ui-widget-content .ui-state-default,
// .admin-color-fresh .redux-container .ui-widget-header .ui-state-default
{
    background: #ffbdb4 !important;
    color: #fff;
    text-decoration: none;
		border-style: none !important;

		box-shadow: none !important;
		-webkit-box-shadow: none !important;
}

/** Disable Hover **/

.admin-color-fresh .redux-container-switch .cb-disable:hover,
.admin-color-fresh .redux-container-switch .cb-disable.selected:hover {
    background: #ec3300 !important;
}

.admin-color-fresh .redux-container-switch .cb-disable.selected {
    background: #FF4334 !important;
}

// Fix Notice
.redux-notice-field.redux-success{
	border: none;
}

.redux-notice-field{
	box-shadow: none;
	background-color: #eee;
}

.redux-notice-field p{
	color: #3e3e3e;
	font-size: 20px;
	box-shadow: none;
}

// Fix table
.redux-main table tbody tr th div{
	padding-left: 20px;
}


/* @end */
