#publish {
}

#major-publishing-actions {
	padding-bottom:10px;
	position:relative;
}

#publishview {
	// position:absolute;
	// right:10px;
	// bottom:10px;
	// width:30px;
	// padding:0;
	// margin:0px;
	// overflow:hidden;
	// height:30px;
	// display:block;

	// -webkit-border-radius: 0px;
	// border-radius: 0px;

	// -webkit-border-top-right-radius: 3px;
	// -webkit-border-bottom-right-radius: 3px;
	// border-top-right-radius: 3px;
	// border-bottom-right-radius: 3px;
 //    -webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.5);
 //    box-shadow: inset 0 1px 0 rgba(120,200,230,.5);

	font: normal 16px/1 'dashicons';
	text-align:center;
	// color:red;
	content: '\f177' !important;

	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	margin-top: -3px;

}

#publishview:hover {
	text-shadow: none;
}


/* Edit post - delete */
#major-publishing-actions .submitdelete {
	display: inline-block;
	font-size: 0;
	line-height: 0;
	right: 9999px;
	padding: 0;
   	margin: 0;
}

#major-publishing-actions .submitdelete:before  {
	text-align:center;
	color:#333;
    font-family: dashicons;
    font-size: 20px;
    content: '\f182';
}
/** Edit post - delete */

#major-publishing-actions {
	padding-bottom:10px;
	position:relative;
}

#publishview {
	font: normal 16px/1 'dashicons';
	text-align:center;
	content: '\f177' !important;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: transparent;
	margin-top: -3px;
}

#publishview:hover {
	text-shadow: none;
}

	// FIX original Button

	#preview-action{
		display: none;
	}
