@import multiple '../../theme.config';
.ui.accordion,
.ui.accordion .accordion {
  max-width: 100%;
}
.ui.accordion .accordion {
  margin: ;
  padding: ;
}
.ui.accordion .title,
.ui.accordion .accordion .title {
  cursor: pointer;
}
.ui.accordion .title:not(.ui) {
  padding: ;
  font-family: ;
  font-size: ;
  color: ;
}
.ui.accordion .title ~ .content,
.ui.accordion .accordion .title ~ .content {
  display: none;
}
.ui.accordion:not(.styled) .title ~ .content:not(.ui),
.ui.accordion:not(.styled) .accordion .title ~ .content:not(.ui) {
  margin: ;
  padding: ;
}
.ui.accordion:not(.styled) .title ~ .content:not(.ui):last-child {
  padding-bottom: 0em;
}
.ui.accordion .title .dropdown.icon,
.ui.accordion .accordion .title .dropdown.icon {
  display: ;
  float: ;
  opacity: ;
  width: ;
  height: ;
  margin: ;
  padding: ;
  font-size: ;
  transition: ;
  vertical-align: ;
  transform: ;
}
.ui.accordion.menu .item .title {
  display: block;
  padding: ;
}
.ui.accordion.menu .item .title > .dropdown.icon {
  float: ;
  margin: ;
  transform: ;
}
.ui.accordion .ui.header .dropdown.icon {
  font-size: ;
  margin: ;
}
.ui.accordion .active.title .dropdown.icon,
.ui.accordion .accordion .active.title .dropdown.icon {
  transform: ;
}
.ui.accordion.menu .item .active.title > .dropdown.icon {
  transform: ;
}
.ui.styled.accordion {
  width: ;
}
.ui.styled.accordion,
.ui.styled.accordion .accordion {
  border-radius: ;
  background: ;
  box-shadow: ;
}
.ui.styled.accordion .title,
.ui.styled.accordion .accordion .title {
  margin: ;
  padding: ;
  color: ;
  font-weight: ;
  border-top: ;
  transition: ;
}
.ui.styled.accordion > .title:first-child,
.ui.styled.accordion .accordion .title:first-child {
  border-top: none;
}
.ui.styled.accordion .content,
.ui.styled.accordion .accordion .content {
  margin: ;
  padding: ;
}
.ui.styled.accordion .accordion .content {
  padding: ;
}
.ui.styled.accordion .title:hover,
.ui.styled.accordion .active.title,
.ui.styled.accordion .accordion .title:hover,
.ui.styled.accordion .accordion .active.title {
  background: ;
  color: ;
}
.ui.styled.accordion .accordion .title:hover,
.ui.styled.accordion .accordion .active.title {
  background: ;
  color: ;
}
.ui.styled.accordion .active.title {
  background: ;
  color: ;
}
.ui.styled.accordion .accordion .active.title {
  background: ;
  color: ;
}
.ui.accordion .active.content,
.ui.accordion .accordion .active.content {
  display: block;
}
.ui.fluid.accordion,
.ui.fluid.accordion .accordion {
  width: 100%;
}
.ui.inverted.accordion .title:not(.ui) {
  color: ;
}
