@import multiple '../../theme.config';
.ui.checkbox {
  position: relative;
  display: inline-block;
  backface-visibility: hidden;
  outline: none;
  vertical-align: baseline;
  font-style: normal;
  min-height: ;
  font-size: ;
  line-height: ;
  min-width: ;
}
.ui.checkbox input[type="checkbox"],
.ui.checkbox input[type="radio"] {
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0 !important;
  outline: none;
  z-index: 3;
  width: ;
  height: ;
}
.ui.checkbox .box,
.ui.checkbox label {
  cursor: auto;
  position: relative;
  display: block;
  padding-left: ;
  outline: none;
  font-size: ;
}
.ui.checkbox .box:before,
.ui.checkbox label:before {
  position: absolute;
  top: 0px;
  left: 0px;
  width: ;
  height: ;
  content: '';
  background: ;
  border-radius: ;
  transition: ;
  border: ;
}
.ui.checkbox .box:after,
.ui.checkbox label:after {
  position: absolute;
  font-size: ;
  top: ;
  left: ;
  width: ;
  height: ;
  text-align: center;
  opacity: 0;
  color: ;
  transition: ;
}
.ui.checkbox label,
.ui.checkbox + label {
  color: ;
  transition: ;
}
.ui.checkbox + label {
  vertical-align: middle;
}
.ui.checkbox .box:hover::before,
.ui.checkbox label:hover::before {
  background: ;
  border-color: ;
}
.ui.checkbox label:hover,
.ui.checkbox + label:hover {
  color: ;
}
.ui.checkbox .box:active::before,
.ui.checkbox label:active::before {
  background: ;
  border-color: ;
}
.ui.checkbox .box:active::after,
.ui.checkbox label:active::after {
  color: ;
}
.ui.checkbox input:active ~ label {
  color: ;
}
.ui.checkbox input:focus ~ .box:before,
.ui.checkbox input:focus ~ label:before {
  background: ;
  border-color: ;
}
.ui.checkbox input:focus ~ .box:after,
.ui.checkbox input:focus ~ label:after {
  color: ;
}
.ui.checkbox input:focus ~ label {
  color: ;
}
.ui.checkbox input:checked ~ .box:before,
.ui.checkbox input:checked ~ label:before {
  background: ;
  border-color: ;
}
.ui.checkbox input:checked ~ .box:after,
.ui.checkbox input:checked ~ label:after {
  opacity: ;
  color: ;
}
.ui.checkbox input:indeterminate ~ .box:before,
.ui.checkbox input:indeterminate ~ label:before {
  background: ;
  border-color: ;
}
.ui.checkbox input:indeterminate ~ .box:after,
.ui.checkbox input:indeterminate ~ label:after {
  opacity: ;
  color: ;
}
.ui.checkbox input:indeterminate:focus ~ .box:before,
.ui.checkbox input:indeterminate:focus ~ label:before,
.ui.checkbox input:checked:focus ~ .box:before,
.ui.checkbox input:checked:focus ~ label:before {
  background: ;
  border-color: ;
}
.ui.checkbox input:indeterminate:focus ~ .box:after,
.ui.checkbox input:indeterminate:focus ~ label:after,
.ui.checkbox input:checked:focus ~ .box:after,
.ui.checkbox input:checked:focus ~ label:after {
  color: ;
}
.ui.read-only.checkbox,
.ui.read-only.checkbox label {
  cursor: default;
}
.ui.disabled.checkbox .box:after,
.ui.disabled.checkbox label,
.ui.checkbox input[disabled] ~ .box:after,
.ui.checkbox input[disabled] ~ label {
  cursor: default;
  opacity: ;
  color: ;
}
.ui.checkbox input.hidden {
  z-index: -1;
}
.ui.checkbox input.hidden + label {
  cursor: pointer;
  user-select: none;
}
.ui.radio.checkbox {
  min-height: ;
}
.ui.radio.checkbox .box,
.ui.radio.checkbox label {
  padding-left: ;
}
.ui.radio.checkbox .box:before,
.ui.radio.checkbox label:before {
  content: '';
  transform: none;
  width: ;
  height: ;
  border-radius: ;
  top: ;
  left: ;
}
.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
  border: none;
  content: '' !important;
  width: ;
  height: ;
  line-height: ;
}
.ui.radio.checkbox .box:after,
.ui.radio.checkbox label:after {
  top: ;
  left: ;
  width: ;
  height: ;
  border-radius: ;
  transform: scale();
  background-color: ;
}
.ui.radio.checkbox input:focus ~ .box:before,
.ui.radio.checkbox input:focus ~ label:before {
  background-color: ;
}
.ui.radio.checkbox input:focus ~ .box:after,
.ui.radio.checkbox input:focus ~ label:after {
  background-color: ;
}
.ui.radio.checkbox input:indeterminate ~ .box:after,
.ui.radio.checkbox input:indeterminate ~ label:after {
  opacity: 0;
}
.ui.radio.checkbox input:checked ~ .box:before,
.ui.radio.checkbox input:checked ~ label:before {
  background-color: ;
}
.ui.radio.checkbox input:checked ~ .box:after,
.ui.radio.checkbox input:checked ~ label:after {
  background-color: ;
}
.ui.radio.checkbox input:focus:checked ~ .box:before,
.ui.radio.checkbox input:focus:checked ~ label:before {
  background-color: ;
}
.ui.radio.checkbox input:focus:checked ~ .box:after,
.ui.radio.checkbox input:focus:checked ~ label:after {
  background-color: ;
}
.ui.slider.checkbox {
  min-height: ;
}
.ui.slider.checkbox input {
  width: ;
  height: ;
}
.ui.slider.checkbox .box,
.ui.slider.checkbox label {
  padding-left: ;
  line-height: ;
  color: ;
}
.ui.slider.checkbox .box:before,
.ui.slider.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  transform: none;
  border: none !important;
  left: 0em;
  z-index: 1;
  top: ;
  background-color: ;
  width: ;
  height: ;
  border-radius: ;
  transition: ;
}
.ui.slider.checkbox .box:after,
.ui.slider.checkbox label:after {
  background: ;
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  box-shadow: ;
  width: ;
  height: ;
  top: ;
  left: 0em;
  transform: none;
  border-radius: ;
  transition: ;
}
.ui.slider.checkbox input:focus ~ .box:before,
.ui.slider.checkbox input:focus ~ label:before {
  background-color: ;
  border: none;
}
.ui.slider.checkbox .box:hover,
.ui.slider.checkbox label:hover {
  color: ;
}
.ui.slider.checkbox .box:hover::before,
.ui.slider.checkbox label:hover::before {
  background: ;
}
.ui.slider.checkbox input:checked ~ .box,
.ui.slider.checkbox input:checked ~ label {
  color:  !important;
}
.ui.slider.checkbox input:checked ~ .box:before,
.ui.slider.checkbox input:checked ~ label:before {
  background-color:  !important;
}
.ui.slider.checkbox input:checked ~ .box:after,
.ui.slider.checkbox input:checked ~ label:after {
  left: ;
}
.ui.slider.checkbox input:focus:checked ~ .box,
.ui.slider.checkbox input:focus:checked ~ label {
  color:  !important;
}
.ui.slider.checkbox input:focus:checked ~ .box:before,
.ui.slider.checkbox input:focus:checked ~ label:before {
  background-color:  !important;
}
.ui.toggle.checkbox {
  min-height: ;
}
.ui.toggle.checkbox input {
  width: ;
  height: ;
}
.ui.toggle.checkbox .box,
.ui.toggle.checkbox label {
  min-height: ;
  padding-left: ;
  color: ;
}
.ui.toggle.checkbox label {
  padding-top: ;
}
.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
  display: block;
  position: absolute;
  content: '';
  z-index: 1;
  transform: none;
  border: none;
  top: ;
  background: ;
  width: ;
  height: ;
  border-radius: ;
}
.ui.toggle.checkbox .box:after,
.ui.toggle.checkbox label:after {
  background: ;
  position: absolute;
  content: '' !important;
  opacity: 1;
  z-index: 2;
  border: none;
  box-shadow: ;
  width: ;
  height: ;
  top: ;
  left: 0em;
  border-radius: ;
  transition: ;
}
.ui.toggle.checkbox input ~ .box:after,
.ui.toggle.checkbox input ~ label:after {
  left: ;
}
.ui.toggle.checkbox input:focus ~ .box:before,
.ui.toggle.checkbox input:focus ~ label:before {
  background-color: ;
  border: none;
}
.ui.toggle.checkbox .box:hover::before,
.ui.toggle.checkbox label:hover::before {
  background-color: ;
  border: none;
}
.ui.toggle.checkbox input:checked ~ .box,
.ui.toggle.checkbox input:checked ~ label {
  color:  !important;
}
.ui.toggle.checkbox input:checked ~ .box:before,
.ui.toggle.checkbox input:checked ~ label:before {
  background-color:  !important;
}
.ui.toggle.checkbox input:checked ~ .box:after,
.ui.toggle.checkbox input:checked ~ label:after {
  left: ;
}
.ui.toggle.checkbox input:focus:checked ~ .box,
.ui.toggle.checkbox input:focus:checked ~ label {
  color:  !important;
}
.ui.toggle.checkbox input:focus:checked ~ .box:before,
.ui.toggle.checkbox input:focus:checked ~ label:before {
  background-color:  !important;
}
.ui.fitted.checkbox .box,
.ui.fitted.checkbox label {
  padding-left: 0em !important;
}
.ui.fitted.toggle.checkbox,
.ui.fitted.toggle.checkbox {
  width: ;
}
.ui.fitted.slider.checkbox,
.ui.fitted.slider.checkbox {
  width: ;
}
