@import multiple '../../theme.config';
.dimmable {
  position: ;
}
.ui.dimmer {
  display: none;
  position: ;
  top: 0em !important;
  left: 0em !important;
  width: 100%;
  height: 100%;
  text-align: ;
  vertical-align: ;
  background-color: ;
  opacity: ;
  line-height: ;
  animation-fill-mode: both;
  animation-duration: ;
  transition: ;
  user-select: none;
  will-change: opacity;
  z-index: ;
}
.ui.dimmer > .content {
  width: 100%;
  height: 100%;
  display: ;
  user-select: text;
}
.ui.dimmer > .content > * {
  display: ;
  vertical-align: ;
  color: ;
}
.ui.segment > .ui.dimmer {
  border-radius: inherit !important;
}
.animating.dimmable:not(body),
.dimmed.dimmable:not(body) {
  overflow: ;
}
.dimmed.dimmable > .ui.animating.dimmer,
.dimmed.dimmable > .ui.visible.dimmer,
.ui.active.dimmer {
  display: block;
  opacity: ;
}
.ui.disabled.dimmer {
  width: 0 !important;
  height: 0 !important;
}
.ui.page.dimmer {
  position: ;
  transform-style: ;
  perspective: ;
  transform-origin: center center;
}
body.animating.in.dimmable,
body.dimmed.dimmable {
  overflow: hidden;
}
body.dimmable > .dimmer {
  position: fixed;
}
.blurring.dimmable > :not(.dimmer) {
  filter: ;
  transition: ;
}
.blurring.dimmed.dimmable > :not(.dimmer) {
  filter: ;
}
.blurring.dimmable > .dimmer {
  background-color: ;
}
.blurring.dimmable > .inverted.dimmer {
  background-color: ;
}
.ui.dimmer > .top.aligned.content > * {
  vertical-align: top;
}
.ui.dimmer > .bottom.aligned.content > * {
  vertical-align: bottom;
}
.ui.inverted.dimmer {
  background-color: ;
}
.ui.inverted.dimmer > .content > * {
  color: ;
}
.ui.simple.dimmer {
  display: block;
  overflow: hidden;
  opacity: 1;
  width: 0%;
  height: 0%;
  z-index: -100;
  background-color: ;
}
.dimmed.dimmable > .ui.simple.dimmer {
  overflow: visible;
  opacity: 1;
  width: 100%;
  height: 100%;
  background-color: ;
  z-index: ;
}
.ui.simple.inverted.dimmer {
  background-color: ;
}
.dimmed.dimmable > .ui.simple.inverted.dimmer {
  background-color: ;
}
