@import multiple '../../theme.config';
.ui.popup {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  min-width: min-content;
  z-index: ;
  border: ;
  line-height: ;
  max-width: ;
  background: ;
  padding:  ;
  font-weight: ;
  font-style: ;
  color: ;
  border-radius: ;
  box-shadow: ;
}
.ui.popup > .header {
  padding: 0em;
  font-family: ;
  font-size: ;
  line-height: ;
  font-weight: bold;
}
.ui.popup > .header + .content {
  padding-top: ;
}
.ui.popup:before {
  position: absolute;
  content: '';
  width: ;
  height: ;
  background: ;
  transform: rotate(45deg);
  z-index: ;
  box-shadow: ;
}
.ui.popup {
  margin: 0em;
}
.ui.top.popup {
  margin: 0em 0em ;
}
.ui.top.left.popup {
  transform-origin: left bottom;
}
.ui.top.center.popup {
  transform-origin: center bottom;
}
.ui.top.right.popup {
  transform-origin: right bottom;
}
.ui.left.center.popup {
  margin: 0em  0em 0em;
  transform-origin: right 50%;
}
.ui.right.center.popup {
  margin: 0em 0em 0em ;
  transform-origin: left 50%;
}
.ui.bottom.popup {
  margin:  0em 0em;
}
.ui.bottom.left.popup {
  transform-origin: left top;
}
.ui.bottom.center.popup {
  transform-origin: center top;
}
.ui.bottom.right.popup {
  transform-origin: right top;
}
.ui.bottom.center.popup:before {
  margin-left: ;
  top: ;
  left: 50%;
  right: auto;
  bottom: auto;
  box-shadow: ;
}
.ui.bottom.left.popup {
  margin-left: ;
}
.ui.bottom.left.popup:before {
  top: ;
  left: ;
  right: auto;
  bottom: auto;
  margin-left: 0em;
  box-shadow: ;
}
.ui.bottom.right.popup {
  margin-right: ;
}
.ui.bottom.right.popup:before {
  top: ;
  right: ;
  bottom: auto;
  left: auto;
  margin-left: 0em;
  box-shadow: ;
}
.ui.top.center.popup:before {
  top: auto;
  right: auto;
  bottom: ;
  left: 50%;
  margin-left: ;
}
.ui.top.left.popup {
  margin-left: ;
}
.ui.top.left.popup:before {
  bottom: ;
  left: ;
  top: auto;
  right: auto;
  margin-left: 0em;
}
.ui.top.right.popup {
  margin-right: ;
}
.ui.top.right.popup:before {
  bottom: ;
  right: ;
  top: auto;
  left: auto;
  margin-left: 0em;
}
.ui.left.center.popup:before {
  top: 50%;
  right: ;
  bottom: auto;
  left: auto;
  margin-top: ;
  box-shadow: ;
}
.ui.right.center.popup:before {
  top: 50%;
  left: ;
  bottom: auto;
  right: auto;
  margin-top: ;
  box-shadow: ;
}
.ui.bottom.popup:before {
  background: ;
}
.ui.right.center.popup:before,
.ui.left.center.popup:before {
  background: ;
}
.ui.top.popup:before {
  background: ;
}
.ui.inverted.bottom.popup:before {
  background: ;
}
.ui.inverted.right.center.popup:before,
.ui.inverted.left.center.popup:before {
  background: ;
}
.ui.inverted.top.popup:before {
  background: ;
}
.ui.popup > .ui.grid:not(.padded) {
  width: ;
  margin: ;
}
.ui.loading.popup {
  display: block;
  visibility: hidden;
  z-index: ;
}
.ui.animating.popup,
.ui.visible.popup {
  display: block;
}
.ui.visible.popup {
  transform: translateZ(0px);
  backface-visibility: hidden;
}
.ui.basic.popup:before {
  display: none;
}
.ui.wide.popup {
  max-width: ;
}
.ui[class*="very wide"].popup {
  max-width: ;
}
@media only screen and (max-width: ) {
  .ui.wide.popup,
  .ui[class*="very wide"].popup {
    max-width: ;
  }
}
.ui.fluid.popup {
  width: 100%;
  max-width: none;
}
.ui.inverted.popup {
  background: ;
  color: ;
  border: ;
  box-shadow: ;
}
.ui.inverted.popup .header {
  background-color: ;
  color: ;
}
.ui.inverted.popup:before {
  background-color: ;
  box-shadow: none !important;
}
.ui.flowing.popup {
  max-width: none;
}
.ui.mini.popup {
  font-size: ;
}
.ui.tiny.popup {
  font-size: ;
}
.ui.small.popup {
  font-size: ;
}
.ui.popup {
  font-size: ;
}
.ui.large.popup {
  font-size: ;
}
.ui.huge.popup {
  font-size: ;
}
