@import multiple '../../theme.config';
.ui.progress {
  position: relative;
  display: block;
  max-width: 100%;
  border: ;
  margin: ;
  box-shadow: ;
  background: ;
  padding: ;
  border-radius: ;
}
.ui.progress:first-child {
  margin: ;
}
.ui.progress:last-child {
  margin: ;
}
.ui.progress .bar {
  display: block;
  line-height: 1;
  position: ;
  width: ;
  min-width: ;
  background: ;
  border-radius: ;
  transition: ;
}
.ui.progress .bar > .progress {
  white-space: nowrap;
  position: ;
  width: ;
  font-size: ;
  top: ;
  right: ;
  left: ;
  bottom: ;
  color: ;
  text-shadow: ;
  margin-top: ;
  font-weight: ;
  text-align: ;
}
.ui.progress > .label {
  position: absolute;
  width: ;
  font-size: ;
  top: ;
  right: ;
  left: ;
  bottom: ;
  color: ;
  font-weight: ;
  text-shadow: ;
  margin-top: ;
  text-align: ;
  transition: ;
}
.ui.indicating.progress[data-percent^="1"] .bar,
.ui.indicating.progress[data-percent^="2"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="3"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="4"] .bar,
.ui.indicating.progress[data-percent^="5"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="6"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="7"] .bar,
.ui.indicating.progress[data-percent^="8"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="9"] .bar,
.ui.indicating.progress[data-percent^="100"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent^="1"] .label,
.ui.indicating.progress[data-percent^="2"] .label {
  color: ;
}
.ui.indicating.progress[data-percent^="3"] .label {
  color: ;
}
.ui.indicating.progress[data-percent^="4"] .label,
.ui.indicating.progress[data-percent^="5"] .label {
  color: ;
}
.ui.indicating.progress[data-percent^="6"] .label {
  color: ;
}
.ui.indicating.progress[data-percent^="7"] .label,
.ui.indicating.progress[data-percent^="8"] .label {
  color: ;
}
.ui.indicating.progress[data-percent^="9"] .label,
.ui.indicating.progress[data-percent^="100"] .label {
  color: ;
}
.ui.indicating.progress[data-percent="1"] .bar,
.ui.indicating.progress[data-percent="2"] .bar,
.ui.indicating.progress[data-percent="3"] .bar,
.ui.indicating.progress[data-percent="4"] .bar,
.ui.indicating.progress[data-percent="5"] .bar,
.ui.indicating.progress[data-percent="6"] .bar,
.ui.indicating.progress[data-percent="7"] .bar,
.ui.indicating.progress[data-percent="8"] .bar,
.ui.indicating.progress[data-percent="9"] .bar {
  background-color: ;
}
.ui.indicating.progress[data-percent="1"] .label,
.ui.indicating.progress[data-percent="2"] .label,
.ui.indicating.progress[data-percent="3"] .label,
.ui.indicating.progress[data-percent="4"] .label,
.ui.indicating.progress[data-percent="5"] .label,
.ui.indicating.progress[data-percent="6"] .label,
.ui.indicating.progress[data-percent="7"] .label,
.ui.indicating.progress[data-percent="8"] .label,
.ui.indicating.progress[data-percent="9"] .label {
  color: ;
}
.ui.indicating.progress.success .label {
  color: ;
}
.ui.progress.success .bar {
  background-color:  !important;
}
.ui.progress.success .bar,
.ui.progress.success .bar::after {
  animation: none !important;
}
.ui.progress.success > .label {
  color: ;
}
.ui.progress.warning .bar {
  background-color:  !important;
}
.ui.progress.warning .bar,
.ui.progress.warning .bar::after {
  animation: none !important;
}
.ui.progress.warning > .label {
  color: ;
}
.ui.progress.error .bar {
  background-color:  !important;
}
.ui.progress.error .bar,
.ui.progress.error .bar::after {
  animation: none !important;
}
.ui.progress.error > .label {
  color: ;
}
.ui.active.progress .bar {
  position: relative;
  min-width: ;
}
.ui.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: ;
  border-radius: ;
  animation: progress-active   infinite;
}
@keyframes progress-active {
  0% {
    opacity: ;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}
.ui.disabled.progress {
  opacity: 0.35;
}
.ui.disabled.progress .bar,
.ui.disabled.progress .bar::after {
  animation: none !important;
}
.ui.inverted.progress {
  background: ;
  border: ;
}
.ui.inverted.progress .bar {
  background: ;
}
.ui.inverted.progress .bar > .progress {
  color: ;
}
.ui.inverted.progress > .label {
  color: ;
}
.ui.inverted.progress.success > .label {
  color: ;
}
.ui.inverted.progress.warning > .label {
  color: ;
}
.ui.inverted.progress.error > .label {
  color: ;
}
.ui.progress.attached {
  background: ;
  position: relative;
  border: none;
  margin: 0em;
}
.ui.progress.attached,
.ui.progress.attached .bar {
  display: block;
  height: ;
  padding: 0px;
  overflow: hidden;
  border-radius: 0em 0em  ;
}
.ui.progress.attached .bar {
  border-radius: 0em;
}
.ui.progress.top.attached,
.ui.progress.top.attached .bar {
  top: 0px;
  border-radius:   0em 0em;
}
.ui.progress.top.attached .bar {
  border-radius: 0em;
}
.ui.segment > .ui.attached.progress,
.ui.card > .ui.attached.progress {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 100%;
  width: 100%;
}
.ui.segment > .ui.bottom.attached.progress,
.ui.card > .ui.bottom.attached.progress {
  top: 100%;
  bottom: auto;
}
.ui.red.progress .bar {
  background-color: ;
}
.ui.red.inverted.progress .bar {
  background-color: ;
}
.ui.orange.progress .bar {
  background-color: ;
}
.ui.orange.inverted.progress .bar {
  background-color: ;
}
.ui.yellow.progress .bar {
  background-color: ;
}
.ui.yellow.inverted.progress .bar {
  background-color: ;
}
.ui.olive.progress .bar {
  background-color: ;
}
.ui.olive.inverted.progress .bar {
  background-color: ;
}
.ui.green.progress .bar {
  background-color: ;
}
.ui.green.inverted.progress .bar {
  background-color: ;
}
.ui.teal.progress .bar {
  background-color: ;
}
.ui.teal.inverted.progress .bar {
  background-color: ;
}
.ui.blue.progress .bar {
  background-color: ;
}
.ui.blue.inverted.progress .bar {
  background-color: ;
}
.ui.violet.progress .bar {
  background-color: ;
}
.ui.violet.inverted.progress .bar {
  background-color: ;
}
.ui.purple.progress .bar {
  background-color: ;
}
.ui.purple.inverted.progress .bar {
  background-color: ;
}
.ui.pink.progress .bar {
  background-color: ;
}
.ui.pink.inverted.progress .bar {
  background-color: ;
}
.ui.brown.progress .bar {
  background-color: ;
}
.ui.brown.inverted.progress .bar {
  background-color: ;
}
.ui.grey.progress .bar {
  background-color: ;
}
.ui.grey.inverted.progress .bar {
  background-color: ;
}
.ui.black.progress .bar {
  background-color: ;
}
.ui.black.inverted.progress .bar {
  background-color: ;
}
.ui.tiny.progress {
  font-size: ;
}
.ui.tiny.progress .bar {
  height: ;
}
.ui.small.progress {
  font-size: ;
}
.ui.small.progress .bar {
  height: ;
}
.ui.progress {
  font-size: ;
}
.ui.progress .bar {
  height: ;
}
.ui.large.progress {
  font-size: ;
}
.ui.large.progress .bar {
  height: ;
}
.ui.big.progress {
  font-size: ;
}
.ui.big.progress .bar {
  height: ;
}
