@font-face {
    font-family: 'feather-icons';
    src:  url('@{plugin_url}/icons/feather-icons/feather-icons.eot?5gw6fh');
    src:  url('@{plugin_url}/icons/feather-icons/feather-icons.eot?5gw6fh#iefix') format('embedded-opentype'),
        url('@{plugin_url}/icons/feather-icons/feather-icons.ttf?5gw6fh') format('truetype'),
        url('@{plugin_url}/icons/feather-icons/feather-icons.woff?5gw6fh') format('woff'),
        url('@{plugin_url}/icons/feather-icons/feather-icons.svg?5gw6fh#icon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="xicon-"], [class*="xicon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'feather-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.xicon-backward:before {
    content: "\e900";
}
.xicon-forward:before {
    content: "\e901";
}
.xicon-mail:before {
    content: "\e002";
}
.xicon-camera:before {
    content: "\e017";
}
.xicon-search:before {
    content: "\e036";
}
.xicon-zoom-in:before {
    content: "\e037";
}
.xicon-zoom-out:before {
    content: "\e038";
}
.xicon-reply:before {
    content: "\e039";
}
.xicon-circle-plus:before {
    content: "\e040";
}
.xicon-circle-minus:before {
    content: "\e041";
}
.xicon-circle-check:before {
    content: "\e042";
}
.xicon-circle-cross:before {
    content: "\e043";
}
.xicon-speech-bubble:before {
    content: "\e076";
}
.xicon-arrow-left:before {
    content: "\e094";
}
.xicon-arrow-right:before {
    content: "\e095";
}
.xicon-check:before {
    content: "\e116";
}
.xicon-cross:before {
    content: "\e117";
}
.xicon-ellipsis:before {
    content: "\e129";
}
