@font-face {
    font-family: 'encode_sans_condensed';
    src: url('./fonts/encodesanscondensed-300-light.eot');
    src: url('./fonts/encodesanscondensed-300-light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesanscondensed-300-light.woff') format('woff'),
         url('./fonts/encodesanscondensed-300-light.ttf') format('truetype'),
         url('./fonts/encodesanscondensed-300-light.svg#encode_sans_condensedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}