@font-face {
  font-family: 'encode_sans_narrow';
  src: url('./fonts/encodesansnarrow-700-bold.eot');
  src: url('./fonts/encodesansnarrow-700-bold.eot?#iefix') format('embedded-opentype'), url('./fonts/encodesansnarrow-700-bold.woff') format('woff'), url('./fonts/encodesansnarrow-700-bold.ttf') format('truetype'), url('./fonts/encodesansnarrow-700-bold.svg#encode_sans_narrowbold') format('svg');
  font-weight: bold;
  font-style: normal;
}
