@font-face {
    font-family: 'encode_sans_normal';
    src: url('./fonts/encodesansnormal-700-bold.eot');
    src: url('./fonts/encodesansnormal-700-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnormal-700-bold.woff') format('woff'),
         url('./fonts/encodesansnormal-700-bold.ttf') format('truetype'),
         url('./fonts/encodesansnormal-700-bold.svg#encode_sans_normalbold') format('svg');
    font-weight: bold;
    font-style: normal;
}