@font-face {
    font-family: 'encode_sans_narrow';
    src: url('./fonts/encodesansnarrow-400-regular.eot');
    src: url('./fonts/encodesansnarrow-400-regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesansnarrow-400-regular.woff') format('woff'),
         url('./fonts/encodesansnarrow-400-regular.ttf') format('truetype'),
         url('./fonts/encodesansnarrow-400-regular.svg#encode_sans_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;
}