@font-face {
    font-family: 'encode_sans_condensed';
    src: url('./fonts/encodesanscondensed-700-bold.eot');
    src: url('./fonts/encodesanscondensed-700-bold.eot?#iefix') format('embedded-opentype'),
         url('./fonts/encodesanscondensed-700-bold.woff') format('woff'),
         url('./fonts/encodesanscondensed-700-bold.ttf') format('truetype'),
         url('./fonts/encodesanscondensed-700-bold.svg#encode_sans_condensedbold') format('svg');
    font-weight: bold;
    font-style: normal;
}