@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/Montserrat-Black.eot');
  src: url('./fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/Montserrat-Black.svg#MontserratBlack') format('svg'), url('./fonts/Montserrat-Black.woff2') format('woff2'), url('./fonts/Montserrat-Black.woff') format('woff'), url('./fonts/Montserrat-Black.ttf') format('truetype');
}
