@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/Montserrat-Light.eot');
  src: url('./fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/Montserrat-Light.svg#MontserratLight') format('svg'), url('./fonts/Montserrat-Light.woff2') format('woff2'), url('./fonts/Montserrat-Light.woff') format('woff'), url('./fonts/Montserrat-Light.ttf') format('truetype');
}
