@rapid-color: @red;

.content-container {
    position: relative;
    max-width: @plContentWidth;
    margin: 0 auto;
}

/* @group Rapid tabs core */

.r-tabs .r-tabs-nav {
    margin: 0;
    padding: 0;
}

.r-tabs-nav {
    text-align: center;
}

.r-tabs .r-tabs-tab {
    display: inline-block;
    margin: 0;
    list-style: none;
}

.r-tabs .r-tabs-panel {
    padding: 15px;
    display: none;
}

.r-tabs .r-tabs-accordion-title {
    display: none;
}

.r-tabs .r-tabs-panel.r-tabs-state-active {
    display: block;
}

/* Accordion responsive breakpoint */
@media only screen and (max-width: 768px) {
    .r-tabs .r-tabs-nav {
        display: none;
    }

    .r-tabs .r-tabs-accordion-title {
        display: block;
    }
}
/* @end */

/* Tab element */
.r-tabs .r-tabs-nav .r-tabs-tab {
	position: relative;
	background-color: @rapid-color;
}

/* Tab panel */
.r-tabs .r-tabs-panel {
	background-color: @rapid-color;
}

/* Tab anchor */
.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	color: #7d7d7d;
}

.r-tabs-nav a.r-tabs-anchor:hover {
    color: @rapid-color;
}

.r-tabs-nav a.r-tabs-anchor {
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: #ebebeb;
    background-color: #ffffff;
    color: #7d7d7d;
}

.r-tabs-nav .r-tabs-state-active a.r-tabs-anchor {
    color: @rapid-color;
    position: relative;
    top: 2px;
    z-index: 800;
    background-color: #f5f5f5;
}

.r-tabs-panel.r-tabs-state-active,
.r-tabs-panel.r-tabs-state-default {
    border-top-width: 1px;
    border-style: solid;
    border-color: #ebebeb;
    background-color: #f5f5f5;
}

/* Accordion anchor */
.r-tabs .r-tabs-accordion-title .r-tabs-anchor {
	display: block;
	padding: 10px;
	background-color: @rapid-color;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}

/* Active accordion anchor */
.r-tabs .r-tabs-accordion-title.r-tabs-state-active .r-tabs-anchor {
	background-color: #ffffff;
	color: @rapid-color;
	text-shadow: none;
}

/* Disabled accordion button */
.r-tabs .r-tabs-accordion-title.r-tabs-state-disabled {
	opacity: 0.5;
}

.r-tabs .r-tabs-nav .r-tabs-anchor {
	display: inline-block;
	padding: 10px 12px;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
