
.shiftnav ul.shiftnav-menu li.menu-item>.shiftnav-target,
.shiftnav ul.shiftnav-menu li.shiftnav-retract>.shiftnav-target{
    padding: 6px 25px;
    line-height: 300%;
}


@import "shiftnav/base.less";
@import "shiftnav/toggle.less";
@import "shiftnav/shift.less";
@import "shiftnav/adminbar.less";
@import "shiftnav/wrap.less";
@import "shiftnav/panel.less";
@import "shiftnav/responsive.less";
@import "shiftnav/misc.less";
// @import "shiftnav/skins/light.less";
@import "shiftnav/skins/standard-dark.less";
