
.social-share-wrapper{
 	display: inline-block;
  padding-top: 16px;
  height: 20px;
}

// Social Media Share
.social-share-buffer {
  background: #444;
}

.social-share-buffer:active,
.social-share-buffer:hover {
  background: #222;
}

.social-share-facebook {
  background: #3B5997;
}

.social-share-facebook:active,
.social-share-facebook:hover {
  background: #2d4372;
}

.social-share-googleplus {
  background: #D64937;
}

.social-share-googleplus:active,
.social-share-googleplus:hover {
  background: #b53525;
}

.social-share-link {
//  - pseudo 3D button
  // -moz-background-clip: padding;
  // -moz-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  // -webkit-background-clip: padding-box;
  // -webkit-box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  // box-shadow: inset 0 -3px 0 rgba(0,0,0,.2);
  color: white;
  cursor: pointer;
  font-size: 14px;
  margin-right: 6px;
  padding: 4px 8px 6px 8px;
}

.social-share-link:active,
.social-share-link:hover {
  color: white;
}

.social-share-pinterest {
  background: #bd081c;
}

.social-share-pinterest:active,
.social-share-pinterest:hover {
  background: #bd081c;
}

.social-share-social {
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  margin: 20px 0px 25px 0px;
}

.social-share-twitter {
  background: #00aced !important;
}

.social-share-twitter:active,
.social-share-twitter:hover {
  background: #0084b4;
}
