
.wp-pagenavi {
	text-align: center;
}

.wp-pagenavi span.current {
	color: #fff;
	background-color: @gray;
}

.wp-pagenavi a:hover {
  color: #fff;
	background-color: @gray;
}

.wp-pagenavi a,
.wp-pagenavi span {
	color: @black;
	background-color: #eee;
	font-weight: normal;
	line-height: 29.92px;
	text-decoration: none;
  display: inline-block;
	// float: left;
	padding: 0 14px;
	margin-left: 10px;
	border: 1px solid #e9e9e9;
	// border: none;
}
