/* Colours */

@woocommerce: 	#ad74a2;
@primary: 		#1e6d10; 									
@green:			#7ad03a;
@red:			#a00;
@orange:		#ffba00;
@blue:			#0064cc;

@tertiary: 		@primary; 									/* Price slider bar / layered nav UI */
@tertiarytext: 	@primarytext;								/* Text on tertiary colour bg */
@quaternary: 	desaturate( darken( @tertiary, 45%), 40% ); /* Price slider bg */


@textColor:     #565656;



@border-radius: 0px;

/* Messages */
@woo-msg-bg: #eeeeee;

@woo-demostore-bk: red;
@woo-demostore-color: #fff;


/* Buttons */
@woo-btn-bg: #464646;
@woo-btn-color: #fff;
@woo-btn-border-radius: 0px;


/* Primary colour for buttons (alt) */
@primarytext: 		desaturate(lighten(@primary,50%),18%);		/* Text on primary colour bg */

@secondary: 		desaturate(lighten(@primary,40%),18%);		/* Secondary buttons */
@secondarytext:	 	desaturate(darken(@secondary,60%),18%);		/* Text on secondary colour bg */

@highlight: 		spin( @primary, 150 ); 						/* Prices, In stock labels, sales flash */
@highlightext:		desaturate(lighten(@highlight,50%),18%);	/* Text on highlight colour bg */

@contentbg: 		#fff; 										/* Content BG - Tabs (active state) */
@subtext: 			#777; 										/* small, breadcrumbs etc */


