/* =Product Page
	-------------------------------------------------------------- */

	div.product, #content div.product {
		margin-bottom: 0;
		position: relative;

		/* Main product title */
		.product_title {
			clear:none;
			margin: 0;
			padding: 0;
			font-size:30px;
			clear: both;
		}

		/* Price */
		span.price, p.price {
			color: @highlight;
			font-size: 1.25em;
			ins {
				background: inherit;
			}
			del {
				font-size: 0.67em;
				color:fade( desaturate( @highlight, 75% ), 50% );
			}
		}

		/* Stock */
		p.stock {
			font-size: 0.92em;
		}
		.stock {
			color: @highlight;
		}
		.out-of-stock {
			color: red;
		}

		/* Product image and thumbnail */
		div.images {
			margin-bottom: 2em;
			img {
				display:block;
				width: 100%;
				height:auto;
				.transition();
			}
			div.thumbnails {
				padding-top: 1em;
			}
		}

		/* Summary div (contains title, price etc) */
		div.summary {
			margin-bottom: 2em;
		}

		/* Social networking */
		div.social {
			text-align: right;
			margin: 0 0 1em;
			span {
				margin: 0 0 0 2px;
				span {
					margin: 0;
				}
				.stButton .chicklets {
					padding-left: 16px;
					width: 0;
				}
			}
			iframe {
				float:left;
				margin-top: 3px;
			}
		}

		/* Tabs on the product page */
		.woocommerce-tabs {
			position: relative;
			display: block;
			ul.tabs {
				list-style:none;
				padding: 0;
				margin: 0;
				overflow:hidden;
				border-bottom:1px solid #ddd;

				li {
//			  border-bottom: 1px solid darken( @secondary, 10 );
					border: 1px solid transparent;
					border-bottom:none;
					float: left;
					// font-weight:bold;
					display: block;
					position: relative;
					border-radius: 3px 3px 0px 0px;
					z-index: 0;
					margin: 0;
					padding: 10px 20px;
					.transition();
					a {
						display: block;
						padding: 0px;
						color: @secondarytext;
						text-decoration: none;
						&:hover {
							text-decoration:none;
							color: lighten( @secondarytext, 10 );
						}
					}

					&:hover, &.active {
						border-color:#ddd;

					}

				}
			}
			.panel {
				margin: 0 0 2em;
				padding: 30px 0px 0px;
				box-shadow:none;
				border-radius: 0px;
				h2{
					line-height:1.5;
					font-size:28px;
					margin: 0px 0px 30px;
				}
				h3{
					line-height:1.5;
					font-size:24px;
					margin: 0px 0px 30px;
				}
			}
		}



		/* Cart button */
		p.cart {
			margin-bottom: 2em;
			.clearfix();
		}

		/* add to cart forms */
		form.cart {
			margin-bottom: 2em;
			.clearfix();
			div.quantity {
				float:left;
				margin: 0 20px 0 0;
			}
			table {
				border-width: 0 0 1px 0;
				td {
					padding-left:0;
				}
				div.quantity {
					float:none;
					margin: 0;
				}
				small.stock {
					display:block;
					float:none;
				}
			}
			.variations {
				margin-bottom: 1em;
				width: 100%;
				label {
					font-weight: bold;
					color: @textColor;
					font-size:14px;

				}
				select {
					width: 100%;
					float:left;
					border: 1px solid #eee;
					height: 30px;
					background: white;
					margin-bottom:15px;
				}
				td.label {
					padding-right: 1em;
					width:100px;
				}
				td {
					vertical-align: top;
				}
			}
			.button {
				vertical-align: middle;
				float:left;
			}

			.group_table {
				td.label {
					padding-right: 1em;
					padding-left: 1em;
				}
				td {
					vertical-align: top;
					padding-bottom: .5em;
				}
			}
		}
	}
