@import multiple '../../theme.config';
.ui.message {
  position: relative;
  min-height: 1em;
  margin:  0em;
  background: ;
  padding:  ;
  line-height: ;
  color: ;
  transition: ;
  border-radius: ;
  box-shadow: ;
}
.ui.message:first-child {
  margin-top: 0em;
}
.ui.message:last-child {
  margin-bottom: 0em;
}
.ui.message .header {
  display: ;
  font-family: ;
  font-weight: ;
  margin: ;
}
.ui.message .header:not(.ui) {
  font-size: ;
}
.ui.message p {
  opacity: ;
  margin:  0em;
}
.ui.message p:first-child {
  margin-top: 0em;
}
.ui.message p:last-child {
  margin-bottom: 0em;
}
.ui.message .header + p {
  margin-top: ;
}
.ui.message .list:not(.ui) {
  text-align: left;
  padding: 0em;
  opacity: ;
  list-style-position: ;
  margin:  0em 0em;
}
.ui.message .list:not(.ui):first-child {
  margin-top: 0em;
}
.ui.message .list:not(.ui):last-child {
  margin-bottom: 0em;
}
.ui.message .list:not(.ui) li {
  position: relative;
  list-style-type: none;
  margin: 0em 0em  ;
  padding: 0em;
}
.ui.message .list:not(.ui) li:before {
  position: absolute;
  content: '•';
  left: -1em;
  height: 100%;
  vertical-align: baseline;
}
.ui.message .list:not(.ui) li:last-child {
  margin-bottom: 0em;
}
.ui.message > .icon {
  margin-right: ;
}
.ui.message > .close.icon {
  cursor: pointer;
  position: absolute;
  margin: 0em;
  top: ;
  right: ;
  opacity: ;
  transition: ;
}
.ui.message > .close.icon:hover {
  opacity: 1;
}
.ui.message > :first-child {
  margin-top: 0em;
}
.ui.message > :last-child {
  margin-bottom: 0em;
}
.ui.dropdown .menu > .message {
  margin: 0px -;
}
.ui.visible.visible.visible.visible.message {
  display: block;
}
.ui.icon.visible.visible.visible.visible.message {
  display: flex;
}
.ui.hidden.hidden.hidden.hidden.message {
  display: none;
}
.ui.compact.message {
  display: inline-block;
}
.ui.attached.message {
  margin-bottom: ;
  border-radius:   0em 0em;
  box-shadow: ;
  margin-left: ;
  margin-right: ;
}
.ui.attached + .ui.attached.message:not(.top):not(.bottom) {
  margin-top: ;
  border-radius: 0em;
}
.ui.bottom.attached.message {
  margin-top: ;
  border-radius: 0em 0em  ;
  box-shadow: ;
}
.ui.bottom.attached.message:not(:last-child) {
  margin-bottom: ;
}
.ui.attached.icon.message {
  width: auto;
}
.ui.icon.message {
  display: flex;
  width: 100%;
  align-items: center;
}
.ui.icon.message > .icon:not(.close) {
  display: block;
  flex: 0 0 auto;
  width: auto;
  line-height: 1;
  vertical-align: ;
  font-size: ;
  opacity: ;
}
.ui.icon.message > .content {
  display: block;
  flex: 1 1 auto;
  vertical-align: ;
}
.ui.icon.message .icon:not(.close) + .content {
  padding-left: ;
}
.ui.icon.message .circular.icon {
  width: 1em;
}
.ui.floating.message {
  box-shadow: ;
}
.ui.black.message {
  background-color: ;
  color: ;
}
.ui.positive.message {
  background-color: ;
  color: ;
}
.ui.positive.message,
.ui.attached.positive.message {
  box-shadow: ;
}
.ui.positive.message .header {
  color: ;
}
.ui.negative.message {
  background-color: ;
  color: ;
}
.ui.negative.message,
.ui.attached.negative.message {
  box-shadow: ;
}
.ui.negative.message .header {
  color: ;
}
.ui.info.message {
  background-color: ;
  color: ;
}
.ui.info.message,
.ui.attached.info.message {
  box-shadow: ;
}
.ui.info.message .header {
  color: ;
}
.ui.warning.message {
  background-color: ;
  color: ;
}
.ui.warning.message,
.ui.attached.warning.message {
  box-shadow: ;
}
.ui.warning.message .header {
  color: ;
}
.ui.error.message {
  background-color: ;
  color: ;
}
.ui.error.message,
.ui.attached.error.message {
  box-shadow: ;
}
.ui.error.message .header {
  color: ;
}
.ui.success.message {
  background-color: ;
  color: ;
}
.ui.success.message,
.ui.attached.success.message {
  box-shadow: ;
}
.ui.success.message .header {
  color: ;
}
.ui.inverted.message,
.ui.black.message {
  background-color: ;
  color: ;
}
.ui.red.message {
  background-color: ;
  color: ;
}
.ui.red.message .header {
  color: ;
}
.ui.orange.message {
  background-color: ;
  color: ;
}
.ui.orange.message .header {
  color: ;
}
.ui.yellow.message {
  background-color: ;
  color: ;
}
.ui.yellow.message .header {
  color: ;
}
.ui.olive.message {
  background-color: ;
  color: ;
}
.ui.olive.message .header {
  color: ;
}
.ui.green.message {
  background-color: ;
  color: ;
}
.ui.green.message .header {
  color: ;
}
.ui.teal.message {
  background-color: ;
  color: ;
}
.ui.teal.message .header {
  color: ;
}
.ui.blue.message {
  background-color: ;
  color: ;
}
.ui.blue.message .header {
  color: ;
}
.ui.violet.message {
  background-color: ;
  color: ;
}
.ui.violet.message .header {
  color: ;
}
.ui.purple.message {
  background-color: ;
  color: ;
}
.ui.purple.message .header {
  color: ;
}
.ui.pink.message {
  background-color: ;
  color: ;
}
.ui.pink.message .header {
  color: ;
}
.ui.brown.message {
  background-color: ;
  color: ;
}
.ui.brown.message .header {
  color: ;
}
.ui.small.message {
  font-size: ;
}
.ui.message {
  font-size: ;
}
.ui.large.message {
  font-size: ;
}
.ui.huge.message {
  font-size: ;
}
.ui.massive.message {
  font-size: ;
}
