.highlight-yellow{
    // padding: 3px 5px;
    // margin: -3px -5px;
    // line-height: 1em;
    // border-radius: 2px;
    // display:inline-block;
    white-space: pre-wrap;
	  // background-color: #fffbda;
	  background-color: #fffd56;
}

.highlight-orange{
    display: inline;
    background: orange;
    box-shadow: 10px 0 0 orange, -10px 0 0 orange;
	// background-color: #fff4da;
}

// FOR BLOCKs

    #bundle {
        .block(){
            h1, h2, h3, h4, h5, h6 {
            	color: @color-white;
            }
            div.entry-content p{
            	color: @color-white;
            }
            div.entry-summary.entry-content > p > a.more-link{
            	color: @color-white;
            	background: @color-black;
            }
            div.entry-meta{
            	color: @color-white;
            }
        }
    }

    div.block.orange{
     	background: @color-orange;
      	#bundle > .block;
    }

    div.block.yellow{
     	background: @color-yellow;
      	#bundle > .block;
    }

// #bundle {
//   .button() {
//     display: block;
//     border: 1px solid black;
//     background-color: grey;
//     &:hover { background-color: white }
//   }
// }

// #header a {
//   color: orange;
//   #bundle > .button;
// }

// .violet-lighter {
// //	color: @violet-lighter;
// 	background: @violet-lighter !important;
// 	h1, h2, h3, h4, h5, h6 {
// 		//color: @myColor;
// 	}
// }
