.shiftnav-toggle,
.shiftnav-toggle *,
.shiftnav,
.shiftnav * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 1.3em;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  padding: 0;
  margin: 0;
  background: none transparent;
}
.shiftnav-wrap {
  padding: 0;
  margin: 0;
  background: none;
  position: relative;
  max-width: 100%;
  overflow: hidden;
}
body.shiftnav-lock-x.shiftnav-enabled {
  overflow-x: hidden;
}
body.shiftnav-lock.shiftnav-open {
  overflow: hidden;
}
body.shiftnav-transition {
  overflow: visible;
}
