.shiftnav.shiftnav-nojs {
  display: none;
}
.shiftnav {
  position: fixed;
  top: 0;
  width: 290px;
  height: 100%;
  background: white;
  z-index: 600000;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.shiftnav-inner {
  -webkit-overflow-scrolling: touch;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.shiftnav.shiftnav-left-edge {
  left: 0;
}
.shiftnav.shiftnav-right-edge {
  right: 0;
}
.shiftnav.shiftnav-left-edge {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}
.shiftnav.shiftnav-right-edge {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}
.shiftnav-open .shiftnav.shiftnav-open-target {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.shiftnav-no-transforms .shiftnav {
  width: 290px;
}
.shiftnav-no-transforms .shiftnav.shiftnav-left-edge {
  left: -290px;
}
.shiftnav-no-transforms.shiftnav-open .shiftnav.shiftnav-open-target.shiftnav-left-edge {
  left: 0;
}
.shiftnav-no-transforms .shiftnav.shiftnav-right-edge {
  left: auto;
  right: -290px;
}
.shiftnav-no-transforms.shiftnav-open .shiftnav.shiftnav-open-target.shiftnav-right-edge {
  right: 0;
}
.shiftnav-no-transforms .shiftnav,
.shiftnav-no-transforms #shiftnav-toggle-main {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.shiftnav-no-transforms.shiftnav-open-left #shiftnav-toggle-main {
  left: 290px;
}
.shiftnav-no-transforms.shiftnav-open-right #shiftnav-toggle-main {
  left: auto;
  right: 290px;
}
.shiftnav-no-transforms #shiftnav-toggle-main,
.shiftnav-no-transforms .shiftnav-wrap {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -o-transform: none !important;
  transform: none !important;
}
.shiftnav-no-transforms .shiftnav-inner {
  padding-top: 30px;
}
.shiftnav .shiftnav-menu-title {
  font-size: 30px;
  text-align: center;
  padding: 40px 25px;
  font-weight: normal;
  margin: 0;
  color: inherit;
}
.shiftnav-menu-title a,
.shiftnav-menu-title a:hover,
.shiftnav-menu-title a:visited {
  color: inherit;
  text-decoration: none;
}
.shiftnav .shiftnav-menu-image-padded {
  padding: 25px;
}
.shiftnav .shiftnav-menu-image a {
  display: block;
}
.shiftnav .shiftnav-menu-image img {
  max-width: 100%;
  height: auto;
}
.shiftnav ul.shiftnav-menu {
  position: relative;
  clear: both;
  overflow: hidden;
}
.shiftnav ul.shiftnav-menu,
.shiftnav ul.shiftnav-menu ul.sub-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.shiftnav ul.shiftnav-menu li.menu-item {
  position: relative;
  margin: 0;
  padding: 0;
  background: none transparent;
  list-style-type: none;
}
.shiftnav ul.shiftnav-menu li.menu-item > .shiftnav-target,
.shiftnav ul.shiftnav-menu li.shiftnav-retract > .shiftnav-target {
  display: block;
  padding: 16px 25px;
  padding: 6px 25px;
  line-height: 300%;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  -webkit-transition: .2s all ease;
  -moz-transition: .2s all ease;
  -ms-transition: .2s all ease;
  -o-transition: .2s all ease;
  transition: .2s all ease;
}
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon > .shiftnav-target > i.shiftnav-icon {
  margin-right: .8em;
  font-size: 150%;
  vertical-align: middle;
  line-height: inherit;
  width: 1.2em;
  text-align: center;
}
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon > .shiftnav-target > i.shiftnav-icon:before {
  vertical-align: top;
}
.shiftnav ul.shiftnav-menu li.menu-item.shiftnav-has-icon > .shiftnav-target > span.shiftnav-target-text {
  vertical-align: middle;
  display: inline-block;
  line-height: inherit;
}
.shiftnav ul.shiftnav-menu li.shiftnav-retract,
.shiftnav ul.shiftnav-menu li.shiftnav-sub-shift li.shiftnav-active ~ li.shiftnav-retract {
  display: none;
  margin: 0;
}
.shiftnav ul.shiftnav-menu li.shiftnav-sub-shift > .sub-menu > li.shiftnav-retract {
  display: block;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-medium li.menu-item > .shiftnav-target {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-large li.menu-item > .shiftnav-target {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-enormous li.menu-item > .shiftnav-target {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-text-small li.menu-item > .shiftnav-target {
  font-size: 12px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-text-medium li.menu-item > .shiftnav-target {
  font-size: 14px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-text-large li.menu-item > .shiftnav-target {
  font-size: 16px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-text-enormous li.menu-item > .shiftnav-target {
  font-size: 22px !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-small li.menu-item > .shiftnav-target > i.shiftnav-icon {
  font-size: 100% !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-medium li.menu-item > .shiftnav-target > i.shiftnav-icon {
  font-size: 140% !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-large li.menu-item > .shiftnav-target > i.shiftnav-icon {
  font-size: 180% !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-large li.menu-item.shiftnav-has-icon > .shiftnav-target > i.shiftnav-icon:before {
  vertical-align: middle;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-enormous li.menu-item > .shiftnav-target > i.shiftnav-icon {
  font-size: 250% !important;
}
.shiftnav ul.shiftnav-menu.shiftnav-targets-icon-enormous li.menu-item.shiftnav-has-icon > .shiftnav-target > i.shiftnav-icon:before {
  vertical-align: middle;
}
.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu li.menu-item > a {
  padding-left: 50px;
}
.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu ul.sub-menu li.menu-item > a {
  padding-left: 75px;
}
.shiftnav ul.shiftnav-menu.shiftnav-indent-subs li.shiftnav-sub-always ul.sub-menu ul.sub-menu ul.sub-menu li.menu-item > a {
  padding-left: 100px;
}
