@media only screen and (max-width: 960px) {
  #shiftnav-toggle-main {
    font-size: 16px;
  }
}
@media only screen and (max-width: 479px) {
  .shiftnav {
    width: 320px;
    max-width: 90%;
  }
  .shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-left .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-left .shiftnav-fixed-left {
    -webkit-transform: translateX(320px);
    -moz-transform: translateX(320px);
    -ms-transform: translateX(320px);
    -o-transform: translateX(320px);
    transform: translateX(320px);
  }
  .shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-right .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-right .shiftnav-fixed-right {
    -webkit-transform: translateX(-320px);
    -moz-transform: translateX(-320px);
    -ms-transform: translateX(-320px);
    -o-transform: translateX(-320px);
    transform: translateX(-320px);
  }
  .shiftnav .shiftnav-menu-title {
    font-size: 30px;
    text-align: center;
    padding: 20px 0;
    font-weight: normal;
    margin: 0;
  }
}
@media only screen and (max-width: 374px) {
  .shiftnav {
    width: 305px;
    max-width: 90%;
  }
  .shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-left .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-left .shiftnav-fixed-left {
    -webkit-transform: translateX(305px);
    -moz-transform: translateX(305px);
    -ms-transform: translateX(305px);
    -o-transform: translateX(305px);
    transform: translateX(305px);
  }
  .shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-right .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-right .shiftnav-fixed-right {
    -webkit-transform: translateX(-305px);
    -moz-transform: translateX(-305px);
    -ms-transform: translateX(-305px);
    -o-transform: translateX(-305px);
    transform: translateX(-305px);
  }
}
@media only screen and (max-width: 359px) {
  .shiftnav {
    width: 265px;
    max-width: 90%;
  }
  .shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-left .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-left .shiftnav-fixed-left {
    -webkit-transform: translateX(265px);
    -moz-transform: translateX(265px);
    -ms-transform: translateX(265px);
    -o-transform: translateX(265px);
    transform: translateX(265px);
  }
  .shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-right .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-right .shiftnav-fixed-right {
    -webkit-transform: translateX(-265px);
    -moz-transform: translateX(-265px);
    -ms-transform: translateX(-265px);
    -o-transform: translateX(-265px);
    transform: translateX(-265px);
  }
}
@media only screen and (max-width: 319px) {
  .shiftnav {
    width: 230px;
    max-width: 90%;
  }
  .shiftnav-open.shiftnav-open-left #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-left .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-left .shiftnav-fixed-left {
    -webkit-transform: translateX(230px);
    -moz-transform: translateX(230px);
    -ms-transform: translateX(230px);
    -o-transform: translateX(230px);
    transform: translateX(230px);
  }
  .shiftnav-open.shiftnav-open-right #shiftnav-toggle-main,
  .shiftnav-open.shiftnav-open-right .shiftnav-wrap,
  .shiftnav-open.shiftnav-open-right .shiftnav-fixed-right {
    -webkit-transform: translateX(-230px);
    -moz-transform: translateX(-230px);
    -ms-transform: translateX(-230px);
    -o-transform: translateX(-230px);
    transform: translateX(-230px);
  }
}
