.shiftnav-toggle {
  cursor: pointer;
}
#shiftnav-toggle-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0 10px;
  z-index: 500000;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  text-align: center;
}
#shiftnav-toggle-main.shiftnav-toggle-position-absolute {
  position: absolute;
}
#shiftnav-toggle-main.shiftnav-toggle-main-align-left {
  text-align: left;
}
#shiftnav-toggle-main.shiftnav-toggle-main-align-right {
  text-align: right;
}
#shiftnav-toggle-main {
  background: #1D1D20;
  color: #eee;
}
#shiftnav-toggle-main a {
  color: inherit;
  text-decoration: none;
}
#shiftnav-toggle-main .shiftnav-main-toggle-content-before > *,
#shiftnav-toggle-main .shiftnav-main-toggle-content-after > * {
  position: relative;
  z-index: 20;
}
#shiftnav-toggle-main .shiftnav-main-toggle-content-before {
  float: left;
}
#shiftnav-toggle-main .shiftnav-main-toggle-content-after {
  float: right;
}
#shiftnav-toggle-main .shiftnav-main-toggle-content {
  padding: 16px 40px;
}
#shiftnav-toggle-main.shiftnav-toggle-main-align-center .shiftnav-main-toggle-content {
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  left: 0;
}
.shiftnav-toggle-main-block {
  padding: 16px 20px;
  display: inline-block;
}
.shiftnav-toggle-main-ontop {
  position: relative;
  z-index: 20;
}
#shiftnav-toggle-main.shiftnav-toggle-main-entire-bar:before,
#shiftnav-toggle-main .shiftnav-toggle-burger {
  float: left;
  content: '\f0c9';
  font-family: FontAwesome;
  padding: 16px 20px;
  margin-left: -10px;
  position: relative;
  z-index: 20;
}
.shiftnav-open #shiftnav-toggle-main.shiftnav-toggle-main-entire-bar.shiftnav-toggle-icon-x:before,
.shiftnav-open #shiftnav-toggle-main.shiftnav-toggle-icon-x .shiftnav-toggle-burger .fa:before {
  content: '\f00d';
}
.shiftnav-open-right #shiftnav-toggle-main.shiftnav-toggle-main-entire-bar:before,
#shiftnav-toggle-main.shiftnav-toggle-edge-right.shiftnav-toggle-main-entire-bar:before,
#shiftnav-toggle-main.shiftnav-toggle-edge-right .shiftnav-toggle-burger {
  float: right;
  padding-left: 20px;
}
.shiftnav-open-left #shiftnav-toggle-main.shiftnav-toggle-edge-right:before,
.shiftnav-open-left #shiftnav-toggle-main.shiftnav-toggle-edge-right .shiftnav-toggle-burger .fa:before {
  float: left;
  padding-left: 0;
  padding-right: 20px;
}
.shiftnav-force #shiftnav-toggle-main {
  display: block !important;
}
.shiftnav-toggle-style-default {
  background: #333;
  color: #eee;
  padding: 10px;
}
.shiftnav-toggle-style-default:hover {
  background: #222;
  color: #ddd;
}
.shiftnav-toggle-style-default .fa {
  margin-right: 5px;
}
.shiftnav-toggle-button {
  display: inline-block;
  padding: 10px 15px;
  background: #444;
  color: #eee;
}
.shiftnav-toggle-button:hover {
  display: inline-block;
  padding: 10px 15px;
  background: #222;
  color: #eee;
}
.shiftnav-toggle-button .fa {
  margin-right: 3px;
}
.shiftnav-fixed-right,
.shiftnav-fixed-left {
  position: fixed;
  top: 0;
  z-index: 9999999;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.shiftnav-fixed-right {
  right: 0;
}
.shiftnav-fixed-left {
  left: 0;
}
.admin-bar .shiftnav-fixed-right,
.admin-bar .shiftnav-fixed-left {
  top: 32px;
}
@media screen and (max-width: 782px) {
  .admin-bar .shiftnav-fixed-right,
  .admin-bar .shiftnav-fixed-left {
    top: 46px;
  }
}
.shiftnav-open .shiftnav-toggle .shiftnav-icon-toggler:before,
.shiftnav-open-left .shiftnav-toggle .shiftnav-icon-toggler-left:before,
.shiftnav-open-right .shiftnav-toggle .shiftnav-icon-toggler-right:before {
  content: "\f00d";
}
