.shiftnav-wrap {
  left: 0;
  top: 0;
  z-index: 250;
  padding-top: 1px;
  margin-top: -1px;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -ms-transition: -ms-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
}
.shiftnav-open .shiftnav-wrap {
  height: 100%;
}
@media screen and (min-width: 767px) {
  .shiftnav-open .shiftnav-wrap {
    -webkit-transition-delay: .02s;
    -moz-transition-delay: .02s;
    -ms-transition-delay: .02s;
    -o-transition-delay: .02s;
    transition-delay: .02s;
  }
}
.shiftnav:after {
  content: ' ';
  display: block;
  position: absolute;
  right: -15px;
  top: 0;
  height: 100%;
  width: 15px;
  background: transparent;
  -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -ms-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  -o-box-shadow: 0 0 15px rgba(0,0,0,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.8);
  z-index: 10000;
}
.shiftnav.shiftnav-right-edge:after {
  left: -15px;
  right: auto;
}
.shiftnav-no-transforms .shiftnav:after {
  display: none !important;
}
