// Frontend Admin
.post-edit-link {
    text-transform: none;
    font-weight: normal;
    font-size: xx-small;
    font-family: Consolas, monaco, monospace;
    letter-spacing: 0;
    display: inline-block;
    text-decoration: none;
    padding: 0 4px;
    background: rgba(0,0,0,.9);
    color: rgba(255,255,255,.9) !important;
    line-height: 100%;
    vertical-align: middle;
    line-height: 16px;
    border-radius: 1px;
    text-shadow: 0 0 1px rgba(0,0,0,.8);
    box-shadow: -1px -1px 0 rgba(255,255,255,.15);
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -moz-transition: opacity 150ms linear;
    -webkit-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    // position: absolute;
    // z-index: 14;
    // top: 0;
    // right: 0;
}

// Edit Post Link
li.product:hover .post-edit-link,
.block-type-link_to_post:hover .post-edit-link,
.block-type-featured-posts:hover .post-edit-link,
.block-type-content:hover .post-edit-link{
    opacity: 1
}

// FIX Widget image
.widget-area img{
    max-width: 100%;
    height: auto;
}

.block-content {
    position: relative;
}

// Forms - Temp
// input[type="email"],
// input[type="password"],
// input[type="text"],
// select,
// textarea {
//     border: 1px solid #ccc;
//     padding: 6px 4px;
//     outline: none;
//     -moz-border-radius: 0px !important;
//     -webkit-border-radius: 0px !important;
//     border-radius: 0px !important;
//     color: #777;
//     display: inline-block;
//     background: #fff;
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
// }
