@import multiple '../../theme.config';
.ui.comments {
  margin: ;
  max-width: ;
}
.ui.comments:first-child {
  margin-top: 0em;
}
.ui.comments:last-child {
  margin-bottom: 0em;
}
.ui.comments .comment {
  position: relative;
  background: ;
  margin: ;
  padding: ;
  border: ;
  border-top: ;
  line-height: ;
}
.ui.comments .comment:first-child {
  margin-top: ;
  padding-top: ;
}
.ui.comments .comment .comments {
  margin: ;
  padding: ;
}
.ui.comments .comment .comments:before {
  position: absolute;
  top: 0px;
  left: 0px;
}
.ui.comments .comment .comments .comment {
  border: ;
  border-top: ;
  background: ;
}
.ui.comments .comment .avatar {
  display: ;
  width: ;
  height: ;
  float: ;
  margin: ;
}
.ui.comments .comment img.avatar,
.ui.comments .comment .avatar img {
  display: block;
  margin: 0em auto;
  width: 100%;
  height: 100%;
  border-radius: ;
}
.ui.comments .comment > .content {
  display: block;
}
.ui.comments .comment > .avatar ~ .content {
  margin-left: ;
}
.ui.comments .comment .author {
  font-size: ;
  color: ;
  font-weight: ;
}
.ui.comments .comment a.author {
  cursor: pointer;
}
.ui.comments .comment a.author:hover {
  color: ;
}
.ui.comments .comment .metadata {
  display: ;
  margin-left: ;
  color: ;
  font-size: ;
}
.ui.comments .comment .metadata > * {
  display: inline-block;
  margin: 0em  0em 0em;
}
.ui.comments .comment .metadata > :last-child {
  margin-right: 0em;
}
.ui.comments .comment .text {
  margin: ;
  font-size: ;
  word-wrap: ;
  color: ;
  line-height: ;
}
.ui.comments .comment .actions {
  font-size: ;
}
.ui.comments .comment .actions a {
  cursor: pointer;
  display: inline-block;
  margin: 0em  0em 0em;
  color: ;
}
.ui.comments .comment .actions a:last-child {
  margin-right: 0em;
}
.ui.comments .comment .actions a.active,
.ui.comments .comment .actions a:hover {
  color: ;
}
.ui.comments > .reply.form {
  margin-top: ;
}
.ui.comments .comment .reply.form {
  width: 100%;
  margin-top: ;
}
.ui.comments .reply.form textarea {
  font-size: ;
  height: ;
}
.ui.collapsed.comments,
.ui.comments .collapsed.comments,
.ui.comments .collapsed.comment {
  display: none;
}
.ui.threaded.comments .comment .comments {
  margin: ;
  padding: ;
  box-shadow: ;
}
.ui.minimal.comments .comment .actions {
  opacity: 0;
  position: ;
  top: ;
  right: ;
  left: ;
  transition: ;
  transition-delay: ;
}
.ui.minimal.comments .comment > .content:hover > .actions {
  opacity: 1;
}
.ui.small.comments {
  font-size: ;
}
.ui.comments {
  font-size: ;
}
.ui.large.comments {
  font-size: ;
}
.ui.huge.comments {
  font-size: ;
}
