@import multiple '../../theme.config';
.ui.items > .item {
  display: ;
  margin:  0em;
  width: ;
  min-height: ;
  background: ;
  padding: ;
  border: ;
  border-radius: ;
  box-shadow: ;
  transition: ;
  z-index: ;
}
.ui.items > .item a {
  cursor: pointer;
}
.ui.items {
  margin: ;
}
.ui.items:first-child {
  margin-top: 0em !important;
}
.ui.items:last-child {
  margin-bottom: 0em !important;
}
.ui.items > .item:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.items > .item:first-child {
  margin-top: 0em;
}
.ui.items > .item:last-child {
  margin-bottom: 0em;
}
.ui.items > .item > .image {
  position: relative;
  flex: 0 0 auto;
  display: ;
  float: ;
  margin: ;
  padding: ;
  max-height: ;
  align-self: ;
}
.ui.items > .item > .image > img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: ;
  border: ;
}
.ui.items > .item > .image:only-child > img {
  border-radius: ;
}
.ui.items > .item > .content {
  display: block;
  flex: 1 1 auto;
  background: ;
  margin: ;
  padding: ;
  box-shadow: ;
  font-size: ;
  border: ;
  border-radius: ;
}
.ui.items > .item > .content:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.items > .item > .image + .content {
  min-width: 0;
  width: ;
  display: ;
  margin-left: ;
  align-self: ;
  padding-left: ;
}
.ui.items > .item > .content > .header {
  display: inline-block;
  margin: ;
  font-family: ;
  font-weight: ;
  color: ;
}
.ui.items > .item > .content > .header:not(.ui) {
  font-size: ;
}
.ui.items > .item [class*="left floated"] {
  float: left;
}
.ui.items > .item [class*="right floated"] {
  float: right;
}
.ui.items > .item .content img {
  align-self: ;
  width: ;
}
.ui.items > .item img.avatar,
.ui.items > .item .avatar img {
  width: ;
  height: ;
  border-radius: ;
}
.ui.items > .item > .content > .description {
  margin-top: ;
  max-width: ;
  font-size: ;
  line-height: ;
  color: ;
}
.ui.items > .item > .content p {
  margin: 0em 0em ;
}
.ui.items > .item > .content p:last-child {
  margin-bottom: 0em;
}
.ui.items > .item .meta {
  margin: ;
  font-size: ;
  line-height: ;
  color: ;
}
.ui.items > .item .meta * {
  margin-right: ;
}
.ui.items > .item .meta :last-child {
  margin-right: 0em;
}
.ui.items > .item .meta [class*="right floated"] {
  margin-right: 0em;
  margin-left: ;
}
.ui.items > .item > .content a:not(.ui) {
  color: ;
  transition: ;
}
.ui.items > .item > .content a:not(.ui):hover {
  color: ;
}
.ui.items > .item > .content > a.header {
  color: ;
}
.ui.items > .item > .content > a.header:hover {
  color: ;
}
.ui.items > .item .meta > a:not(.ui) {
  color: ;
}
.ui.items > .item .meta > a:not(.ui):hover {
  color: ;
}
.ui.items > .item > .content .favorite.icon {
  cursor: pointer;
  opacity: ;
  transition: ;
}
.ui.items > .item > .content .favorite.icon:hover {
  opacity: ;
  color: ;
}
.ui.items > .item > .content .active.favorite.icon {
  color: ;
}
.ui.items > .item > .content .like.icon {
  cursor: pointer;
  opacity: ;
  transition: ;
}
.ui.items > .item > .content .like.icon:hover {
  opacity: ;
  color: ;
}
.ui.items > .item > .content .active.like.icon {
  color: ;
}
.ui.items > .item .extra {
  display: ;
  position: ;
  background: ;
  margin: ;
  width: ;
  padding: ;
  top: ;
  left: ;
  color: ;
  box-shadow: ;
  transition: ;
  border-top: ;
}
.ui.items > .item .extra > * {
  margin:  / 2   / 2 0em;
}
.ui.items > .item .extra > [class*="right floated"] {
  margin:  / 2 0em  / 2 ;
}
.ui.items > .item .extra:after {
  display: block;
  content: ' ';
  height: 0px;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}
.ui.items > .item > .image:not(.ui) {
  width: ;
}
@media only screen and (min-width: ) and (max-width: ) {
  .ui.items > .item {
    margin:  0em;
  }
  .ui.items > .item > .image:not(.ui) {
    width: ;
  }
  .ui.items > .item > .image + .content {
    display: block;
    padding: 0em 0em 0em ;
  }
}
@media only screen and (max-width: ) {
  .ui.items > .item {
    flex-direction: column;
    margin:  0em;
  }
  .ui.items > .item > .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .ui.items > .item > .image,
  .ui.items > .item > .image > img {
    max-width: 100% !important;
    width:  !important;
    max-height:  !important;
  }
  .ui.items > .item > .image + .content {
    display: block;
    padding:  0em 0em;
  }
}
.ui.items > .item > .image + [class*="top aligned"].content {
  align-self: flex-start;
}
.ui.items > .item > .image + [class*="middle aligned"].content {
  align-self: center;
}
.ui.items > .item > .image + [class*="bottom aligned"].content {
  align-self: flex-end;
}
.ui.relaxed.items > .item {
  margin:  0em;
}
.ui[class*="very relaxed"].items > .item {
  margin:  0em;
}
.ui.divided.items > .item {
  border-top: ;
  margin: ;
  padding: ;
}
.ui.divided.items > .item:first-child {
  border-top: none;
  margin-top:  !important;
  padding-top:  !important;
}
.ui.divided.items > .item:last-child {
  margin-bottom:  !important;
  padding-bottom:  !important;
}
.ui.relaxed.divided.items > .item {
  margin: 0em;
  padding:  0em;
}
.ui[class*="very relaxed"].divided.items > .item {
  margin: 0em;
  padding:  0em;
}
.ui.items a.item:hover,
.ui.link.items > .item:hover {
  cursor: pointer;
}
.ui.items a.item:hover .content .header,
.ui.link.items > .item:hover .content .header {
  color: ;
}
.ui.items > .item {
  font-size: ;
}
